<div class="container pt-4">
  <h1>Add a New Restaurant</h1>
  <%= simple_form_for @restaurant do |f| %>

    <% if @restaurant.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @restaurant.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.input :name, label: 'Name of the restaurant', error: 'Name is mandatory, please specify one' %>
    <%= f.input :address, label: 'Address of the restaurant', error: 'Address is mandatory, please specify one'%>
    <%= f.input :phone_number, label: 'Phone Number of the restaurant', error: 'Phone Number is mandatory, please specify one' %>
    <%= f.input :category, label: 'Category of the restaurant', error: 'Category is mandatory, please specify one' %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
